@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=block');

@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');

.chapter_title {
  max-width: 65vw;
  margin: 30px auto;
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 1.7;
  /* font-family: 'IBM Plex Serif' */
  font-family: Cinzel Decorative;
}

.text-selected {
  background-color: var(--highlight-background);
  color: var(--highlight-text-color) !important;
}

.chapter_text {
  max-width: 65vw;
  margin: 0 auto;
  font-size: 20px;
  line-height: 1.7;
  font-family: 'IBM Plex Serif'
}

.chapter_text::selection,.bio-emphasize::selection,.bio-rest::selection {
  background: var(--highlight-background);
  color: var(--highlight-text-color) !important;
}

.landmark.heading {
  opacity:0;
  height: 0;
}

.bio-emphasize {
  /* font-weight: 600; */
  /* font-size: 1.00em; */
}

.bio-rest {
  color: var(--rest-color);
}

@media(max-width: 900px) {
  .chapter_text {
    max-width: 80vw;
  }

  .chapter_title {
    max-width: 80vw;
  }
}

@media(max-width: 500px) {
  .chapter_text {
    max-width: 90vw;
    font-size: 18px;
  }

  .chapter_title {
    max-width: 90vw;
    font-size: 1.3rem;
  }
}