/* @import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700&family=Lora:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&0&family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&family=Lora:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap'); */

:root {
  --body-bg-color: white;
  --text-color: black;
  --cb-background: rgb(252 252 252);
  --cb-a1: rgba(0 0 0 / 0.05);
  --cb-a2: rgba(0 0 0 / 0.1);
  --cb-foreground: rgb(28 28 29);
  --cb-shadow: 0px 6px 20px rgb(0 0 0 / 20%);
  --heading-color: rgb(9, 64, 103);
  --rest-color: rgb(97, 97, 97);
  --cb-overlay-color: rgba(150, 150, 150, 0.159);
  --cb-transparent-background: rgba(255, 255, 255, 0.285);
  --cb-placeholder-color: rgb(125, 125, 125);
  --highlight-background: rgb(3, 107, 107);
  --highlight-text-color: white;
  --link-unvisited-color: hsl(231deg 100% 60%);
  --link-underline-color: hsl(231deg 100% 60%);
  --link-visited-color: hsl(333deg 100% 43%);
}

[data-theme='dark'] {
  --body-bg-color: #333336;
  --text-color: rgb(228, 228, 228);
  --cb-background: rgb(84, 84, 84);
  --cb-a1: rgb(53 53 54);
  --cb-a2: rgba(255 255 255 / 0.1);
  --heading-color: white;
  --cb-foreground: rgba(252 252 252 / 0.9);
  --cb-shadow: rgb(0 0 0 / 50%) 0px 16px 70px;
  --rest-color: hsl(0deg 0% 70%);
  --cb-overlay-color: rgba(0, 0, 0, 0.5);
  --cb-transparent-background: rgba(84, 84, 84, 0.45);
  --cb-placeholder-color: rgb(153, 153, 153);
  --highlight-background: rgb(3, 189, 189);
  --highlight-text-color: black;
  --link-unvisited-color: hsl(231deg 100% 71%);
  --link-underline-color: hsl(231deg 100% 71%);
  --link-visited-color: hsl(333deg 100% 38%);
}

[data-theme='blue'] {
  --body-bg-color: rgb(0, 30, 60);
  --text-color: hsl(210deg 13% 90%);
  --cb-background: hsl(214deg 17% 26%);
  --heading-color: white;
  --cb-a1: rgb(53 53 54);
  --cb-a2: rgba(255 255 255 / 0.1);
  --cb-foreground: rgba(252 252 252 / 0.9);
  --cb-shadow: rgb(0 0 0 / 50%) 0px 16px 70px;
  --rest-color: hsl(210deg 16% 66%);
  --cb-overlay-color: rgba(0, 0, 0, 0.5);
  --cb-transparent-background: rgba(84, 84, 84, 0.45);
  --cb-placeholder-color: rgb(153, 153, 153);
  --highlight-background: orange;
  --highlight-text-color: black;
  --link-unvisited-color: hsl(231deg 100% 71%);
  --link-underline-color: hsl(231deg 100% 71%);
  --link-visited-color: hsl(333deg 100% 38%);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--body-bg-color);
  color: var(--text-color);
  transition: color 500ms ease 0s, background 500ms ease 0s;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  height: 80px;
}

.work {
  margin-top: 3rem;
}

.navbar .username {
  cursor: pointer;
  padding: 20px;
  font-size: 20px;
  color: var(--heading-color);
  font-family: IBM Plex Serif, sans-serif;
}

.navbar.bottom {
  position: fixed;
  background-color: var(--body-bg-color);
  bottom: -90px;
  right: 0;
  height: 80px;
  border-radius: 10px 0 0 0;
  padding: 7px 10px;
  box-shadow: 0px 4px 15px 2px var(--cb-placeholder-color);
  transition: bottom 250ms;
}

.navbar.bottom-shown {
  bottom: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.selection-container {
  position: absolute;
  background-color: hsl(11deg 100% 42% / 75%);
}

.kudos-icon {
  display: flex;
  flex-direction: column;
  font-family: 'Cinzel Decorative', Arial, Helvetica, sans-serif;
  cursor: pointer;

  .kudos-count {
    margin: auto;
    margin-top: -25px;
  }

  &:hover {
    .kudos-count {
      filter: drop-shadow(2px 2px 2px #4444dd);
    }

    .kudos-lottie {
      transform: scale(0.8);
    }
  }

}

.flexseparator {
  flex-grow: 3;
}

.bookmarklet {
  position: relative;
  display:flex;
  flex-direction: column;
  justify-content: center;
  font-size: 0.8em;
  margin-left: 1em;

  span {
    font-family: IBM Plex Serif, serif;
    font-weight: 500;
    color: var(--text-color);
    position: absolute;
    left: 0;
    pointer-events: none;
    height: 2rem;
    width:100%;
    text-align: center;
    box-shadow: 2px 2px 19px 0 rgb(0 0 0 / 25%);
    border-radius: 10px;
    padding: 0.5rem 0;
  }

  .hidden-bookmarklink {
    color: var(--body-bg-color) !important;
    text-decoration-color: white;
  }
}

.highlight-toolbar-container {
  position:relative;

  .highlight-toolbar {
    background: var(--cb-transparent-background);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
    backdrop-filter: blur(9.5px);
    // box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    // box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    // box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
    color: var(--cb-foreground);
    padding:0;
    position:absolute;
    top: 39px;
    display:flex;
  }

  .highlight-toolbar-icon-container {
    height: 100%;
    position: relative;
    color: var(--cb-foreground);

    &:before {
      content: attr(data-tooltip); /* here's the magic */
      position:absolute;
      top:100%;
      left:0;
      font-size: 0.75em;
      padding:5px 15px;
      border-radius:5px;
      width:100px;
      background-color: var(--cb-foreground);
      color: var(--cb-background);
      text-align:center;
      font-weight:600;
      display:none;
    }

    &:hover:before{
      display:block;
    }

    &:hover{
      background-color: var(--cb-foreground);
      color: var(--cb-background);
    }

    &:first-child {
      border-radius: 10px 0 0 10px;
    }
    &:last-child {
      border-radius: 0 10px 10px 0;
    }

    &:active {
      transform: translate(1px, 1px);
    }
  }

  .highlight-toolbar-icon {
    margin: 0.4em 0.4em 0.1em;
    font-size: 25px;
  }
}

@media(max-width: 900px) {
  .bookmarklet {
    display:none;
  }
}