/* @import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700&family=Lora:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&0&family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&family=Lora:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap'); */

:root {
  --body-bg-color: white;
  --text-color: black;
  --cb-background: rgb(252 252 252);
  --cb-a1: rgba(0 0 0 / 0.05);
  --cb-a2: rgba(0 0 0 / 0.1);
  --cb-foreground: rgb(28 28 29);
  --cb-shadow: 0px 6px 20px rgb(0 0 0 / 20%);
  --heading-color: rgb(9, 64, 103);
  --rest-color: rgb(97, 97, 97);
  --cb-overlay-color: rgba(150, 150, 150, 0.159);
  --cb-transparent-background: rgba(255, 255, 255, 0.285);
  --cb-placeholder-color: rgb(125, 125, 125);
  --highlight-background: rgb(3, 107, 107);
  --highlight-text-color: white;
  --link-unvisited-color: hsl(231deg 100% 60%);
  --link-underline-color: hsl(231deg 100% 60%);
  --link-visited-color: hsl(333deg 100% 43%);
}

[data-theme="dark"] {
  --body-bg-color: #333336;
  --text-color: rgb(228, 228, 228);
  --cb-background: rgb(84, 84, 84);
  --cb-a1: rgb(53 53 54);
  --cb-a2: rgba(255 255 255 / 0.1);
  --heading-color: white;
  --cb-foreground: rgba(252 252 252 / 0.9);
  --cb-shadow: rgb(0 0 0 / 50%) 0px 16px 70px;
  --rest-color: hsl(0deg 0% 70%);
  --cb-overlay-color: rgba(0, 0, 0, .5);
  --cb-transparent-background: rgba(84, 84, 84, 0.45);
  --cb-placeholder-color: rgb(153, 153, 153);
  --highlight-background: rgb(3, 189, 189);
  --highlight-text-color: black;
  --link-unvisited-color: hsl(231deg 100% 71%);
  --link-underline-color: hsl(231deg 100% 71%);
  --link-visited-color: hsl(333deg 100% 38%);
}

[data-theme="blue"] {
  --body-bg-color: rgb(0, 30, 60);
  --text-color: hsl(210deg 13% 90%);
  --cb-background: hsl(214deg 17% 26%);
  --heading-color: white;
  --cb-a1: rgb(53 53 54);
  --cb-a2: rgba(255 255 255 / 0.1);
  --cb-foreground: rgba(252 252 252 / 0.9);
  --cb-shadow: rgb(0 0 0 / 50%) 0px 16px 70px;
  --rest-color: hsl(210deg 16% 66%);
  --cb-overlay-color: rgba(0, 0, 0, .5);
  --cb-transparent-background: rgba(84, 84, 84, 0.45);
  --cb-placeholder-color: rgb(153, 153, 153);
  --highlight-background: orange;
  --highlight-text-color: black;
  --link-unvisited-color: hsl(231deg 100% 71%);
  --link-underline-color: hsl(231deg 100% 71%);
  --link-visited-color: hsl(333deg 100% 38%);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--body-bg-color);
  color: var(--text-color);
  transition: color 500ms ease 0s, background 500ms ease 0s;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  height: 80px;
}

.navbar .username {
  cursor: pointer;
  padding: 20px;
  font-size: 20px;
  color: var(--heading-color);
  font-family: IBM Plex Serif, sans-serif;
}

.navbar.bottom {
  position: fixed;
  background-color: var(--body-bg-color);
  bottom: -90px;
  right: 0;
  height: 80px;
  border-radius: 10px 0 0 0;
  padding: 7px 10px;
  box-shadow: 0px 4px 15px 2px var(--cb-placeholder-color);
  transition: bottom 250ms;
}

.navbar.bottom-shown {
  bottom: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.selection-container {
  position: absolute;
  background-color: hsl(11deg 100% 42% / 75%);
}
