@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400&family=Josefin+Sans:wght@200;300;400&display=swap');

.login-disable {
	pointer-events: none;
}

.login-container {
	margin:auto;
	font-family: 'Josefin Sans', 'Noto Sans', sans-serif;
	font-size: 2.3rem;
	background-color: #26C281;
	color: white;
	width:100vw;
	height:100vh;
	overflow: hidden;
	display:flex;
	justify-content: center;
	flex-flow: column;
	box-sizing: border-box;

	.title {
		margin-top:-2em;
		width:100%;
		text-align:center;
		margin-bottom: 2em;
		color: rgba(0,0,0,0.5);
	}

	.subtitle {
		margin-top:-1em;;
		text-align:center;
		font-size: 0.75em;
		font-weight:200;
	}

	.form {
		margin:0 auto;
		width:65vw;
	}

	.animation {
		background: none;
		color: inherit;
		border: none;
		padding: 0;
		font: inherit;
		cursor: pointer;
		outline: inherit;
		position:absolute;
		bottom: 0;
		right: -20px;
	}

	.inputField {
		position: relative;
		&:after {
			content: "";
			position: absolute;
			left: 0px;
			right: 0px;
			bottom: 0px;
			z-index: 999;
			height: 1px;
			border-bottom-left-radius: 2px;
			border-bottom-right-radius: 2px;
			background-position: 0% 0%;
			// background: linear-gradient(to right, #B294FF, #57E6E6, #FEFFB8, #57E6E6, #B294FF, #57E6E6);
			background: rgba(0,0,0,0.3);
			background-size: 500% auto;
			animation: gradient 3s linear infinite;
		}

		&.error{
      animation: shake 0.2s ease-in-out 0s 4;
    }
	}

	@keyframes shake {
		0% { margin-left: 0rem; }
		25% { margin-left: 0.5rem; }
		75% { margin-left: -0.5rem; }
		100% { margin-left: 0rem; }
	}

	input {
		font-family: 'Josefin Sans';
		display: block;
		margin: 0.7em auto;
		outline: none;
    padding: 0.5em 0.5em 0.3em 0.5em;
    width: 100%;
    border: none;
    background: transparent;
    color: rgba(0,0,0,0.65);
    font-size: 1.2em;
		font-weight: 400;
    line-height: 1;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
		&:disabled{
			opacity: 0.5;
		}
		// background-color: rgba(0,0,0,0.1);
		&::placeholder {
			color: rgba(0,0,0,0.4);
			font-size: 0.8em;
			font-weight: 300;
		}
		&:focus {
			background-color: rgba(0,0,0,0.1);
		}
	}

	.bounce-cat {
		animation-duration: 2s;
		animation-iteration-count: infinite;
	}

	.bounce-5 {
		animation-name: bounce-5;
		animation-timing-function: ease;
	}
	@keyframes bounce-5 {
		0%   { transform: translateY(0); }
		50%  { transform: translateY(-50px); }
		100% { transform: translateY(0); }
	}
}

@media(max-width: 900px) {
	.login-container {
		font-size: 1.5rem;

		.form {
			width:80vw;
		}
	}

}

.login-loader-background {
  position:absolute;
  display:flex;
  width:100%;
  height:100%;
  background-color: rgba(1,1,1,0.6);
}

.login-loader {
  margin: auto !important;
}

.loader {
  position: relative;
  width: 120px;
  height: 90px;
  margin: 0 auto;
}
.loader:before {
  content: "";
  position: absolute;
  bottom: 30px;
  left: 50px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: #FF3D00;
  animation: loading-bounce 0.5s ease-in-out infinite alternate;
}
.loader:after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 7px;
  width: 45px;
  border-radius: 4px;
  box-shadow: 0 5px 0 #fff, -35px 50px 0 #fff, -70px 95px 0 #fff;
  animation: loading-step 1s ease-in-out infinite;
}

@keyframes loading-bounce {
  0% { transform: scale(1, 0.7)}
  40% { transform: scale(0.8, 1.2)}
  60% { transform: scale(1, 1)}
  100% { bottom: 140px }
}
@keyframes loading-step {
  0% {
    box-shadow: 0 10px 0 rgba(0,0,0,0),
                0 10px 0 #fff,
              -35px 50px 0 #fff,
              -70px 90px 0 #fff;
  }
  100% {
    box-shadow: 0 10px 0 #fff,
              -35px 50px 0 #fff,
              -70px 90px 0 #fff,
              -70px 90px 0 rgba(0,0,0,0);
  }
}
